<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="/static/css/index.css?cache={{time}}"/>
    </head>
    <body>
        <div class="container">
            <h2>發表一篇圖文</h2>
            <div class="container-item">
                <div class="container-item-element">文字內容</div>
                <div class="container-item-element"><input type="text" class="new-image-text" /></div>
            </div>
            <div class="container-item">
                <div class="container-item-element">圖文檔案</div>
                <div class="container-item-element">
                    <input type="file" id="uploadFile"/>
                </div>
            </div>
            <div>
                <div><button type="submit">送出</button></div>
            </div>
            <hr class="hr-style">
            <div id="oldMessageDiv">
                <div class="old-message-container">
                    <div class="old-message-text">12</div>
                    <div class="old-message-image">
                        <img class="" src="https://www.travel.taipei/d_upload_ttn/sceneadmin/pic/11000848.jpg" />
                    </div>
                    <hr class="hr-style">
                </div>
            </div>
        </div>


    </body>
</html>